[run]
source = src
omit = src/api_connection.py, src/main.py, src/app.py, src/tests/*, src/db.py, src/routes.py, src/entities/entities.py, src/config.py, src/services/pantry_service.py, src/services/file_handler.py, src/repositories/pantry_repository.py