[MASTER]
ignore=src/tests

[BASIC]
include-naming-hint=True

[MESSAGE CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        import-error,
        too-few-public-methods,
        missing-timeout,
        cyclic-import,
        bare-except,
        too-many-function-args,

[DESIGN]
max-attributes=16
max-args=16
max-locals=16
max-line-length=110
max-public-methods=30