<style>
  .recipe-button {
    display: block;
    margin-bottom: 10px;
  }

  .pantry {
    float: left;
    position: relative;
    width: 25%;
  }

  .kitsain-logo {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .right-side {
    position: relative;
    float: right;
    width: 50%;
  }

  .btn-change-latest {
    color: blue;
  }

  .btn-add-input {
    color: green;
  }

  .btn-rm-input {
    color: red;
  }

  #loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
  }

  #loading.display {
    visibility: visible;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
</style>

<div class="kitsain-logo">
  Kitsain
</div>

<div class="right-side">
  <form id="recipeForm">
    <fieldset class="inputs-set" id="ingredient-list" class="input-field">
      <div id="ingredient-container">
        Ingredient: <input class="input-field" type="text" name="ingredients" required>
      </div>
    </fieldset>
    Recipe type: <input type="text" name="recipe_type">
    <button type="submit">Generate a recipe</button>
    <div id="loading"></div>
  </form>
  <button class="btn-add-input" onclick="addIngredientField()" type="">
    Add ingredient
  </button>
  <button class="btn-rm-input" onclick="removeIngredientField()" type="">
    Remove ingredients
  </button>
  <p></p>
  <p></p>
  <hr>
  <button class="btn-change-latest" onclick="changeRecipe()" type="submit">
    Change latest recipe
  </button>
  <p>
    <textarea id="recipe_change" name="recipe_change" rows="3" cols="50"></textarea>
  </p>
  <div>Generated recipes:</div>

  {% for recipe in recipes %}
  <button class="recipe-button" onclick="showIngredientsAndSteps('{{ recipe.recipe_name }}')">{{ recipe.recipe_name
    }}</button>
  <div id="{{  recipe.recipe_name  }}" style="display: none">
    {% for ingredient, amount in recipe.ingredients %}
    <div>
      {{ ingredient }}: {{ amount }}
    </div>
    {% endfor %}
    <br>
    Steps:
    {% for step in recipe.instructions %}
    <div>
      {{ step }}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div class="pantry">
  Pantry:
  {% for ingredient in pantry %}
  <div id="pantry_contents">
    <b>{{ ingredient.name }}</b> ({{ ingredient.barcode }})
    <input type="checkbox" id="checkbox_{{ ingredient.barcode }}" name="ingredientCheckbox"
      value="{{ ingredient.name }}">
    <script>
      var checkbox = document.querySelector(`#checkbox_{{ ingredient.barcode }}`);

      checkbox.addEventListener('change', function () {
        if (this.checked) {
          addIngredientField("{{ ingredient.name }}");
        } else {
          removeIngredientField("{{ ingredient.name }}")
        }
      });
    </script>
    <p>
      Amount: {{ ingredient.amount }}
    </p>
  </div>
  <hr>
  {% endfor %}
</div>


<script>
  function showIngredientsAndSteps(recipeName) {
    var div = document.getElementById(recipeName);
    if (div.style.display === "none") {
      div.style.display = "block"
    } else {
      div.style.display = "none"
    }
  }
</script>

<script>
  const myForm = document.getElementById("recipeForm");
  const ingredientContainer = document.getElementById("ingredient-container");

  myForm.addEventListener("submit", handleSubmit);

  function addIngredientField(ingredientName) {
    // create an input field to insert
    const newIngredientField = document.createElement("input");
    // set input field data type to text
    newIngredientField.type = "text";
    // set input field name
    newIngredientField.name = "ingredients";
    // set required
    newIngredientField.setAttribute("required", "");

    if (ingredientName) {
      newIngredientField.value = `${ingredientName}`;
    }

    newIngredientField.classList.add("input-field");
    // insert element into the container
    ingredientContainer.appendChild(newIngredientField);
  }

  function removeIngredientField(ingredientName) {
    if (ingredientContainer.children.length > 1) {
      if (ingredientName) {
        for (let i = 0; i < ingredientContainer.children.length; i++) {
          if (ingredientContainer.children[i].value === ingredientName) {
            ingredientContainer.removeChild(ingredientContainer.children[i]);
          }
        }
      } else {
        while (ingredientContainer.children.length > 1) {
          ingredientContainer.removeChild(ingredientContainer.lastChild);
        }
        document.querySelectorAll('input[type=checkbox]').forEach(el => el.checked = false);
      }
    }
  }

  function handleSubmit(event) {
    var loading = document.getElementById("loading")
    loading.style.display = "block";
    event.preventDefault();
    var recipeForm = document.getElementById("recipeForm");

    var formData = new FormData(recipeForm);
    var object = {};
    formData.forEach((value, key) => {
      // Reflect.has in favor of: object.hasOwnProperty(key)
      if (!Reflect.has(object, key)) {
        object[key] = value;
        return;
      }
      if (!Array.isArray(object[key])) {
        object[key] = [object[key]];
      }
      object[key].push(value);
    });
    var json = JSON.stringify(object);
    fetch("/generate", {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: json,
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('network returns error');
        }
        return response.json();
      })
      .then(resp => {
        let jsonResponse = JSON.stringify(resp);
        console.log(jsonResponse);
        loading.style.display = "none";
        return fetch("/frontend", {
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST",
          body: jsonResponse,
        })

      })
      .catch((error) => {
        // Handle error
        console.log("error ", error);
      })

  }


  function changeRecipe() {
    event.preventDefault();
    var recipe_changes = document.getElementById("recipe_change").value;
    var object = {};
    object["change"] = recipe_changes;
    var json = JSON.stringify(object)
    fetch("/change", {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: json,
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('network returns error');
        }
        return response.json();
      })
      .then(resp => {
        let jsonResponse = JSON.stringify(resp);
        console.log(jsonResponse);
        return fetch("/frontend", {
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST",
          body: jsonResponse,
        })

      })
      .catch((error) => {
        // Handle error
        console.log("error ", error);
      })
  }
</script>