<style>
    .recipe-button {
        display: block;
        margin-bottom: 10px; /* Adjust the margin as needed to separate buttons */
    }
</style>


{% for recipe in recipes %}
<button class="recipe-button" onclick="showIngredientsAndSteps('{{ recipe.recipe_name }}')">{{ recipe.recipe_name  }}</button>
<div id="{{  recipe.recipe_name  }}" style="display: none">
{% for ingredient, amount in recipe.ingredients %}
{{ ingredient }}: {{ amount }}, 
{% endfor %}
Steps:
{% for step in recipe.instructions %}
{{ step }}
{% endfor %}
</div>
{% endfor %}

<script>
    function showIngredientsAndSteps(recipeName) {
        
        var div = document.getElementById(recipeName);
        if (div.style.display === "none") {
            div.style.display = "block"
        } else {
            div.style.display = "none"
        }
    }
    
</script>